<div class="container container-footer">
  <div class="row">
    <div class="col-md-12">
      <h3>Контактная информация</h3>
      <p class="h5">
        Для внесения сведений в Единый государственный реестр автомобильных дорог (ЕГРАД)
      </p>
      <p>
        Информационные карты установленного образца, содержащие сведения об автомобильной дороге,
        а также копии правоустанавливающих документов, подтверждающих эти сведения, на бумажном носителе
        направляются в адрес Федерального дорожного агентства:
      </p>
      <ul>
        <li>
          <address>
            <i class="fas fa-map-marker-alt"></i> 129085, г. Москва, ул. Бочкова д. 4
          </address>
        </li>
        <p>также дублируются (информационные карты в формате Word или Excel) на адрес электронной почты: <br></p>
        <li>
          <a href="mailto:egrad@dorros.ru">
            <i class="far fa-envelope"></i> egrad@dorros.ru
          </a>
        </li>
      </ul>

      <p class="h5">
        Для получения информации, содержащейся в ЕГРАДе
      </p>
      <p>
        Консультацию о наличии или отсутствии информации об автомобильных дорогах в Едином государственном реестре
        автомобильных дорог можно получить:
      </p>
      <ul>
        <li>
          <i class="fas fa-phone"></i> +7 (495) 870-99-92 Малахова Светлана Викторовна
        </li>
        <li>
          <a href="mailto:malakhovasv@fad.ru"><i class="far fa-envelope"></i> malakhovasv@fad.ru </a>
        </li>
      </ul>

      <p class="h5">
        Служба технической​​​ поддержки
      </p>
      <ul>
        <li>
          <i class="fas fa-phone"></i> 8 (812) 374-52-43
        </li>
        <li>
          <a href="mailto:hd@k-gm.su"><i class="far fa-envelope"></i> asu-fda-remont@yandex.ru​ </a>
        </li>
      </ul>
    </div>
  </div>
</div>
