<div class="container container-footer">
<p>
  <b class="h3">Автомобильная дорога</b> - это объект транспортной инфраструктуры, предназначенный для движения транспортных средств и 
  включающий в себя земельные участки в границах полосы отвода автомобильной дороги, а также дорожные сооружения, 
  являющиеся ее технологической частью.
</p>
<p>
  В соответствии с пунктами 2 - 5 статьи 10 Федерального закона от 8 ноября 2007 г. № 257-ФЗ 
  "Об автомобильных дорогах и дорожной деятельности в Российской Федерации и о внесении изменений в отдельные законодательные 
  акты Российской​ Федерации" Федеральное дорожное агентство оказывает государственную услугу по внесению сведений в 
  Единый государственный реестр автомобильных дорог (ЕГРАД).​
</p>
<div class="row">
  <div class="col-md-12">
    <h3>Нормативно-правовые акты</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> 
          <a href="http://rosavtodor.ru/documents/official/938.html">Федеральный закон № 257 
            "Об автомобильных дорогах и о дорожной деятельности в Российской Федерации и о внесении изменений 
            в отдельные законодательные акты Российской Федерации"​
          </a> 
        </li>
        <li class="list-group-item"> 
          <a href="http://rosavtodor.ru/documents/official/2783.html">
            Приказ от 20 мая 2009 г. N 80 "О едином государственном реестре автомобильных дорог"
          </a> 
        </li>
        <li class="list-group-item"> 
          <a href="http://rosavtodor.ru/documents/official/2782.html">Приказ от 14 июня 2012 г. N 172 "Об утверждении 
            административного регламента федерального дорожного агентства предоставления государственных 
            услуг по формированию и ведению единого государственного реестра автомобильных дорог и предоставлению сведений, 
            содержащихся в едином государственном реестре автомобильных дорог, в виде выписок из единого государственного 
            реестра автомобильных дорог, за исключением сведений, составляющих государственную тайну"
          </a> 
        </li>
        <li class="list-group-item"> 
          <a href="http://rosavtodor.ru/docs/prikazy-rasporyazheniya/13163">
            Приказ от 07.02.2007 № 16 "Об утверждении правил присвоения автомобильным дорогам идентификационных номеров"
          </a> 
        </li>          
      </ul>
    </div>
  </div>
</div>
    
   