<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <div class="navbar-expand m-auto navbar-text footer">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#" class="nav-link" routerLinkActive="active" [routerLink]="['','contacts']">Контактная
          информация</a>
      </li>
      <li class="list-inline-item">
        |
      </li>
      <li class="list-inline-item">
        <a href="#" class="nav-link" routerLinkActive="active" [routerLink]="['','help']">Информация о работе
          с системой</a>
      </li>
    </ul>
  </div>
</nav>