<div class="container-fluid">
  <div class="content-area mt-3">
    <kendo-grid [style.height.px]="gridHeight" [data]="dataset | async" [loading]="dataset.loading"
      [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [filterable]="true"
      [sortable]="true" [pageable]="true" [selectable]="false" [navigable]="true"
      (dataStateChange)="dataStateChange($event)">
      <kendo-grid-column field="date" title="Дата и время операции" [format]="'dd-MM-yyyy'">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-date-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-date-filter-cell>
        </ng-template>
        <ng-template kendoGridCellTemplate let-item>
          {{item.date?(item.date| date:"dd.MM.yyyy HH:mm:ss"):''}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="operation" title="Операция">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <abs-dropdown-filter [field]="'operation'" [filter]="filter" [data]="actionLogOperations" textField="text"
            valueField="value">
          </abs-dropdown-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-item>
          {{ item.operation | actionLogOperationsFormatted }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="type" title="Тип объекта">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <abs-dropdown-filter [field]="'type'" [filter]="filter" [data]="actionLogTypes" textField="text"
            valueField="value">
          </abs-dropdown-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-item>
          {{ item.type | actionLogTypesFormatted }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="data" title="Данные объекта">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="user_login" title="Учетная запись">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="user_fullname" title="ФИО пользователя">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="user_organization" title="Организация пользователя">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [showOperators]="false" [column]="column" [filter]="filter">
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
